/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  background-color:darkseagreen;
  padding: 0.5rem;
}
	
div.wrapper {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  box-shadow: .5em .5em .5em .5em;
  background-color: white;
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  background-color:rgb(61, 121, 79);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em .2em .5em .2em;
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
  padding: 0em 0em 0em 1em;
}

header h1 {
  font-family:serif;
  font-size: 40px;
}

/* ⬇ The h1's link */
header h1 a {
  text-decoration: none;
  color: white;
}

header h2 {
  font-size: 27px;
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
  background-color:rgb(112, 206, 148);
  padding: .2em;
  border-radius: 2rem;
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {
  
}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: white; /* ← you can change this */
  transition: all 0.75s ease-in-out;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background-color: rgb(16, 73, 38); /* ← you can change this */
	border-radius: 2rem;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 1em;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  font-size: 30px;
  border-bottom: 2px solid green;
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  font-size: 20px;
  line-height: 1.5em;
}

/* ⬇ This controls both asides */
main.homepage aside { 
  background-color: rgb(199, 212, 201) ;
  border-radius: 1em;
  padding-left: 1em;
}

/* ⬇ Recent aside */
main.homepage aside.recent {
  grid-column: 4/5;
  grid-row: 1/2;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  grid-column: 4/5;
  grid-row: 2/3;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  font-size: 25px;
  padding: 1em 0em 0em 0em;
  border-bottom: solid 1px darkgreen;
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin-left: 1rem;
}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: 0.5rem;
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
  color: darkgreen;
  display: block;
  padding: .3em;
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  text-decoration: none;
  background-color: rgb(188, 231, 179);
  border-radius: 4rem;
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  display: grid;
  gap: .5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1/6;
  grid-row: 3/4;
  background-color: rgb(199, 212, 201);
  border-radius: 1em;
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */
  
}

/* ⬇ Name of each building */
section.campus h3 {
  font-size: 20px;
  padding: .5em;
}

/* ⬇ Contains each building's image and caption */
section.campus figure {
  margin-left: 1em;
  margin-right: 1em;
}

/* ⬇ Picture of each building */
section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
	box-shadow: 0px 10px 13px -5px #626262; /* ← you can change this */
}

/* ⬇ Caption text under each building */
section.campus figcaption {
  font-size: 15px;
}



/* FOOTER
---------------------------------------*/

footer {
  background-color: rgb(16, 73, 38);
  padding: .7em;
}

footer small { 
  color: white;
  line-height: 2;
}

/* ⬇ The link in the footer */
footer a {
  color: white;
}


/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/




/* PHONE
---------------------------------------*/

